In [2]:
import pandas as pd
import numpy as np

In [3]:
Numeros = range(50, 70, 2)
print(list(Numeros))

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68]

In [5]:
Numeros_serie = pd.Series(Numeros)
print(Numeros_serie)

0    50
1    52
2    54
3    56
4    58
5    60
6    62
7    64
8    66
9    68
dtype: int64

In [6]:
print(Numeros_serie[2])

54

In [8]:
print(Numeros_serie.index)
print(Numeros_serie.values)

RangeIndex(start=0, stop=10, step=1)
[50 52 54 56 58 60 62 64 66 68]

In [12]:
Numeros_en_texto=['primero','segundo','tercero','cuarto','quinto','sexto','septimo','octavo','noveno','decimo']
Numeros_serie2=pd.Series(Numeros,index=Numeros_en_texto)
print(Numeros_serie2)

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
septimo    62
octavo     64
noveno     66
decimo     68
dtype: int64

In [11]:
print(Numeros_serie2.index)

Index(['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'septimo',
       'octavo', 'noveno', 'decimo'],
      dtype='object')

#Dataframes

In [14]:
modelos = ['X5','X6','X7','X8','X9','X10','X11','X12','X13','X14']
peso=[3500,3600,3700,3800,3900,4000,4100,4200,4300,4400]
precios=[25000,26000,27000,28000,29000,30000,31000,32000,33000,34000]
#creo las series que necesito para mi dataframe
peso_series=pd.Series(peso,index=modelos)
precio_series=pd.Series(precios,index=modelos)
print(peso_series)
print("\n")
print(precio_series)

X5     3500
X6     3600
X7     3700
X8     3800
X9     3900
X10    4000
X11    4100
X12    4200
X13    4300
X14    4400
dtype: int64


X5     25000
X6     26000
X7     27000
X8     28000
X9     29000
X10    30000
X11    31000
X12    32000
X13    33000
X14    34000
dtype: int64

In [15]:
#construyo el dataframe combinando las series
autos=pd.DataFrame({'Peso':peso_series,'Precio':precio_series})
autos

     Peso  Precio
X5   3500   25000
X6   3600   26000
X7   3700   27000
X8   3800   28000
X9   3900   29000
X10  4000   30000
X11  4100   31000
X12  4200   32000
X13  4300   33000
X14  4400   34000

In [17]:
print(autos.head(2))

    Peso  Precio
X5  3500   25000
X6  3600   26000

In [18]:
print(autos.tail(2))

     Peso  Precio
X13  4300   33000
X14  4400   34000

In [20]:
autos.describe()

              Peso        Precio
count    10.000000     10.000000
mean   3950.000000  29500.000000
std     302.765035   3027.650354
min    3500.000000  25000.000000
25%    3725.000000  27250.000000
50%    3950.000000  29500.000000
75%    4175.000000  31750.000000
max    4400.000000  34000.000000

In [21]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, X5 to X14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Peso    10 non-null     int64
 1   Precio  10 non-null     int64
dtypes: int64(2)
memory usage: 240.0+ bytes

In [22]:
autos.columns

Index(['Peso', 'Precio'], dtype='object')

In [24]:
autos['Peso']

X5     3500
X6     3600
X7     3700
X8     3800
X9     3900
X10    4000
X11    4100
X12    4200
X13    4300
X14    4400
Name: Peso, dtype: int64

In [29]:
autos["PrecioPorKg"]=(autos["Precio"]/autos["Peso"]).round(2)
print(autos["PrecioPorKg"])

X5     7.14
X6     7.22
X7     7.30
X8     7.37
X9     7.44
X10    7.50
X11    7.56
X12    7.62
X13    7.67
X14    7.73
Name: PrecioPorKg, dtype: float64

In [30]:
autos

     Peso  Precio  PrecioPorKg
X5   3500   25000         7.14
X6   3600   26000         7.22
X7   3700   27000         7.30
X8   3800   28000         7.37
X9   3900   29000         7.44
X10  4000   30000         7.50
X11  4100   31000         7.56
X12  4200   32000         7.62
X13  4300   33000         7.67
X14  4400   34000         7.73

In [35]:
autos.rename_axis("Modelos")
#No lo modifica, solo cambia el nombre si se lo llama asi

         Peso  Precio  PrecioPorKg
Modelos
X5       3500   25000         7.14
X6       3600   26000         7.22
X7       3700   27000         7.30
X8       3800   28000         7.37
X9       3900   29000         7.44
X10      4000   30000         7.50
X11      4100   31000         7.56
X12      4200   32000         7.62
X13      4300   33000         7.67
X14      4400   34000         7.73

In [34]:
autos

     Peso  Precio  PrecioPorKg
X5   3500   25000         7.14
X6   3600   26000         7.22
X7   3700   27000         7.30
X8   3800   28000         7.37
X9   3900   29000         7.44
X10  4000   30000         7.50
X11  4100   31000         7.56
X12  4200   32000         7.62
X13  4300   33000         7.67
X14  4400   34000         7.73

In [37]:
Numeros_serie2["quinto"]

np.int64(58)

In [38]:
Numeros_serie2.loc["quinto"]

np.int64(58)

In [39]:
Numeros_serie2.iloc[4]

np.int64(58)

In [36]:
autos.iloc[1]

Peso            3600.00
Precio         26000.00
PrecioPorKg        7.22
Name: X6, dtype: float64

In [40]:
autos.index

Index(['X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14'], dtype='object')

In [42]:
autos.values[1]

array([3.60e+03, 2.60e+04, 7.22e+00])

In [45]:
autos.loc[autos.Precio>=29000, ["Precio","PrecioPorKg"]]

     Precio  PrecioPorKg
X9    29000         7.44
X10   30000         7.50
X11   31000         7.56
X12   32000         7.62
X13   33000         7.67
X14   34000         7.73

In [ ]:
#autos.t traspuesta

In [ ]:
largo = [179,179,192,192,192,192,192,192,192,192]

In [46]:
numeros3=range(51,70,2)
Numeros_en_texto2=['primero','segundo','tercero','cuarto','quinto','sexto','septimo','octavo','noveno','decimo']
Numeros_serie3=pd.Series(numeros3,index=Numeros_en_texto2)

In [47]:
print("Serie Original:")
print(Numeros_serie3)

Serie Original:
primero    51
segundo    53
tercero    55
cuarto     57
quinto     59
sexto      61
septimo    63
octavo     65
noveno     67
decimo     69
dtype: int64

In [48]:
Numeros_al_cuardado= Numeros_serie3 ** 2
print("Serie al cuadrado")
print(Numeros_al_cuardado)

Serie al cuadrado
primero    2601
segundo    2809
tercero    3025
cuarto     3249
quinto     3481
sexto      3721
septimo    3969
octavo     4225
noveno     4489
decimo     4761
dtype: int64

In [49]:
peso2=[3500,3600,3700,3800,3900,4000,4100,4200,4300,4400]
largo2=[179,179,192,192,192,192,192,192,192,192]
modelos2=['X5','X6','X7','X8','X9','X10','X11','X12','X13','X14']
Autos_2=pd.DataFrame({"Peso:":peso2,"Largo":largo2},index=modelos2)

In [50]:
print("Dataframe original:")
print(Autos_2)

Dataframe original:
     Peso:  Largo
X5    3500    179
X6    3600    179
X7    3700    192
X8    3800    192
X9    3900    192
X10   4000    192
X11   4100    192
X12   4200    192
X13   4300    192
X14   4400    192

In [53]:
Proncentajes=Autos_2/Autos_2.iloc[1]*100

In [54]:
print(Proncentajes)

          Peso:      Largo
X5    97.222222  100.00000
X6   100.000000  100.00000
X7   102.777778  107.26257
X8   105.555556  107.26257
X9   108.333333  107.26257
X10  111.111111  107.26257
X11  113.888889  107.26257
X12  116.666667  107.26257
X13  119.444444  107.26257
X14  122.222222  107.26257

In [55]:
# Definir dos Series con índices diferentes

Numeros_en_texto_2 = ["primero", "segundo", "tercero", "cuarto", "quinto", "sexto", "séptimo", "octavo", "noveno", "décimo"] 
Numeros_serie_2 = pd.Series([50, 52, 54, 56, 58, 60, 62, 64, 66, 68], index=Numeros_en_texto_2)
Numeros_en_texto_3 = ["segundo", "cuarto", "quinto", "sexto", "octavo", "décimo", "undécimo"] 
Numeros_serie_3 = pd.Series([100, 200, 300, 400, 500, 600, 700], index=Numeros_en_texto_3)

In [56]:
Suma_series=Numeros_serie_2+Numeros_serie_3

In [57]:
print(Suma_series)

cuarto      256.0
décimo      668.0
noveno        NaN
octavo      564.0
primero       NaN
quinto      358.0
segundo     152.0
sexto       460.0
séptimo       NaN
tercero       NaN
undécimo      NaN
dtype: float64

In [58]:
Suma_series=Numeros_serie_2.add(Numeros_serie_3, fill_value=0)

In [59]:
print(Suma_series)

cuarto      256.0
décimo      668.0
noveno       66.0
octavo      564.0
primero      50.0
quinto      358.0
segundo     152.0
sexto       460.0
séptimo      62.0
tercero      54.0
undécimo    700.0
dtype: float64

In [60]:
# Crear porciones de las Series

Numeros_serie_2_porcion = Numeros_serie_2[4:7]

Numeros_serie_3_porcion = Numeros_serie_3[5:8]

# Mostrar las porciones

print("Numeros_serie_2_porcion:")

print(Numeros_serie_2_porcion)

print("\nNumeros_serie_3_porcion:")

print(Numeros_serie_3_porcion)

 

# Sumar las porciones

Suma_Porciones = Numeros_serie_2_porcion + Numeros_serie_3_porcion

print("\nSuma de las porciones:")

print(Suma_Porciones)

Numeros_serie_2_porcion:
quinto     58
sexto      60
séptimo    62
dtype: int64

Numeros_serie_3_porcion:
décimo      600
undécimo    700
dtype: int64

Suma de las porciones:
décimo     NaN
quinto     NaN
sexto      NaN
séptimo    NaN
undécimo   NaN
dtype: float64

In [61]:
Suma_Porciones=Numeros_serie_2_porcion.add(Numeros_serie_3_porcion, fill_value=0)
print(Suma_Porciones)

décimo      600.0
quinto       58.0
sexto        60.0
séptimo      62.0
undécimo    700.0
dtype: float64

In [62]:
# Crear una Serie con un valor NaN

serie = pd.Series([10, np.nan, 30])

# Sumar 5 a la Serie

resultado = serie + 5

print(resultado)

0    15.0
1     NaN
2    35.0
dtype: float64

In [63]:
print(np.nan == np.nan)

False

In [64]:
print(serie.isna())

0    False
1     True
2    False
dtype: bool

.isnan()
.dropnan()

In [65]:
serie_limplia=serie.fillna(0)
print(serie_limplia)

0    10.0
1     0.0
2    30.0
dtype: float64

In [66]:
valor_nan=np.nan
res=2*valor_nan
print(res)

nan

In [67]:
print(type(valor_nan))

<class 'float'>

In [68]:
#calcula el producto de una lista con nan
res=np.nanprod([2, valor_nan])
print(res)

2.0

In [69]:
print(type(res))

<class 'numpy.float64'>

In [75]:
# Leer el archivo CSV

df = pd.read_csv('winequality-red.csv', sep=',')

# Mostrar las primeras filas del DataFrame con las columnas específicas

print(df[['density', 'pH', 'sulphates', 'alcohol', 'quality']].head())

   density    pH  sulphates  alcohol  quality
0   0.9978  3.51       0.56      9.4        5
1   0.9968  3.20       0.68      9.8        5
2   0.9970  3.26       0.65      9.8        5
3   0.9980  3.16       0.58      9.8        6
4   0.9978  3.51       0.56      9.4        5

In [86]:
# Leer el archivo TXT desde la misma carpeta o ruta específica
df = pd.read_csv('pokemon_data.txt', delimiter='\t')

# Mostrar las primeras filas del DataFrame con las columnas específicas

print(df[['Name', 'Type 1', 'HP', 'Attack', 'Defense']].head())

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
                    Name Type 1  HP  Attack  Defense
0              Bulbasaur  Grass  45      49       49
1                Ivysaur  Grass  60      62       63
2               Venusaur  Grass  80      82       83
3  VenusaurMega Venusaur  Grass  80     100      123
4             Charmander   Fire  39      52       43

In [87]:
#%pip install openpyxl

df = pd.read_excel('_defaultoutput.xlsx')

# Mostrar las primeras filas del DataFrame con las columnas específicas

print(df[['index', 'ID', 'Year_Birth', 'Education', 'Income']].head())

   index    ID  Year_Birth   Education   Income
0      0  5524        1957  Graduation  58138.0
1      1  2174        1954  Graduation  46344.0
2      2  4141        1965  Graduation  71613.0
3      3  6182        1984  Graduation  26646.0
4      4  5324        1981         PhD  58293.0

In [78]:
# URL del archivo CSV

url = 'https://raw.githubusercontent.com/JJTorresDS/stocks-ds-edu/main/stocks.csv'

# Leer el archivo CSV desde la URL

df = pd.read_csv(url, index_col=0)

# Mostrar las primeras 5 filas de las columnas especificadas, redondeadas a 1 decimal

print(df[['AMZN', 'MCD', 'SBUX', 'GOOG', 'MSFT']].head(5).round(1))

                 AMZN    MCD  SBUX   GOOG  MSFT
formatted_date
2016-01-01      587.0  106.3  54.4  743.0  49.9
2016-02-01      552.5  100.7  52.1  697.8  46.0
2016-03-01      593.6  108.8  53.6  745.0  50.3
2016-04-01      659.6  109.5  50.5  693.0  45.5
2016-05-01      722.8  105.6  49.3  735.7  48.3

In [85]:
#%pip install requests
import requests

# URL del archivo CSV

url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cars_clus.csv'

# Descargar el archivo CSV usando requests

response = requests.get(url)

# Verificar que la solicitud fue exitosa

if response.status_code == 200:

    # Guardar el contenido en un archivo local

    with open('cars_clus.csv', 'wb') as file:

        file.write(response.content)

    

    # Leer el archivo CSV usando pandas

    pdf = pd.read_csv('cars_clus.csv')

    # Imprimir la forma del DataFrame y las primeras 5 filas

    print("Shape: ", pdf.shape)

    print(pdf.head(5))

else:

    print("Error al descargar el archivo. Código de estado:", response.status_code)

Requirement already satisfied: requests in c:\users\maria\miniconda3\envs\ds12024\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\maria\miniconda3\envs\ds12024\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\maria\miniconda3\envs\ds12024\lib\site-packages (from requests) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\maria\miniconda3\envs\ds12024\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\maria\miniconda3\envs\ds12024\lib\site-packages (from requests) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.
Shape:  (159, 16)
  manufact    model   sales  resale   type   price engine_s horsepow wheelbas  \
0    Acura  Integra  16.919  16.360  0.000  21.500    1.800  140.000  101.200
1    Acura       TL  39.384  19.875  0.000  28.400    3.200  225.000  108.100
2    Acura       CL  14.114  18.225  0.000  $null$    3.200  225.000  106.900
3    Acura       RL   8.588  29.725  0.000  42.000    3.500  210.000  114.600
4     Audi       A4  20.397  22.255  0.000  23.990    1.800  150.000  102.600

    width   length curb_wgt fuel_cap     mpg lnsales  partition
0  67.300  172.400    2.639   13.200  28.000   2.828        0.0
1  70.300  192.900    3.517   17.200  25.000   3.673        0.0
2  70.600  192.000    3.470   17.200  26.000   2.647        0.0
3  71.400  196.600    3.850   18.000  22.000   2.150        0.0
4  68.200  178.000    2.998   16.400  27.000   3.015        0.0